
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


:root {
  --sb-track: #2f2e33;          
  --sb-thumb: #e451c6;           
  --sb-thumb-hover: #ff76d6;    
}


html {
  scrollbar-width: thin;
  scrollbar-color: var(--sb-thumb) var(--sb-track);
}


*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--sb-track);
}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #ee5acb, var(--sb-thumb));
  border-radius: 8px;
  border: 2px solid var(--sb-track);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25) inset;
}

*::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #ff8adf, var(--sb-thumb-hover));
}

*::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}
html {
  scrollbar-gutter: stable;
}

html, body, #root {
  height: 100%;
  margin: 0;

}

html {
  scroll-behavior: smooth;
}
